input, button[type=submit], select, textarea {
    width: 250px;
}

Form{
    margin: 50px auto;
    margin-bottom: 30px !important;
    width: 500px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 6px;
}